body {
  font-family: Arial, Helvetica, "Helvetica Neue";
  font-size: 16px;
  line-height: 1.5em;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  position: relative;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: 1f 1f 1f;
        grid-template-areas:
        "header  header  header"
        "sidebar content content"
        "footer  footer  footer";
        background-color: #fff;
        color: #444;
    }

.box {
  background-color: #444;
  color: #fff;
  border-radius: 2px;
  padding: 50px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #999;
}

.main-nav {
  padding-bottom: 20px;
}

h1 {
  font-size: 40px;
  padding-bottom: 12px;
}

h2 {
  font-family: Arial, Helvetica, "Helvetica Neue";
  font-size: 26px;
}

p {
  color: red;
}
